.page-login {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color:#3f6275 ;

}
/* Estilos para los contenedores */
.loginCentral {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.box1{
	display: flex;
	background-color: #95b6c5;
	justify-content: center;
}
.box1 h1{
	margin: auto;
}
.box2{
	background-color: #b9cfda;
}

.box1, .box2 {
	margin: auto; /* Centra horizontalmente los contenedores */
	/* Estilos adicionales para los contenedores */
	width: 300px;
	height: fit-content;
	padding: 20px;
	border: 1px solid white;
}

.box2 {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: black;
}		
.box2 input[type="text"],
.box2 input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
}

.box2 button[type="submit"] {
	text-align: center;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid black;
}
.combo {
	margin-right: 20px;
  display: inline-block;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid black;
  border-radius: 4px;
}

.combo-select {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 1;
}

.combo-select:focus {
  outline: none;
}

.combo::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #333 transparent transparent transparent;
  pointer-events: none;
  z-index: 2;
}
