.bd-confU{
    background-color: #f9f9f9;
    
  }
.btn-firma{
    margin: 1cm 2cm;
    background-color: #255a6686;
    border-radius: 15px;
}
.btn-firma p, .btn-firma input, .btn-firma h3{
    text-align: center;
}

.btn-firma input[type='submit']{
    background-color: rgb(9, 170, 9);
    height: 40px;
    width: 80px;
    border: 0px;
    color: white;
    border-radius: 5px;
}
.btn-firma input[type='submit']:hover{
    background-color: rgb(77, 191, 77);
}


