body {
    margin: 0;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #2A424D;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    color: white;
}

.column {
    width: 33%;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /*padding: 0 20px;
    margin: 10px;*/
    /*background-color: #666;*/
    background-color: #45818e86;
    color: white;
    /*border: 2px solid white;*/
    text-align: center;
    text-decoration: none;
    /*border-radius: 5px;*/
    flex: 1;
}
.button-link:hover {
    background-color: #2A424D;
    color: white;
}

.left-column {
    width: 33%;
    height: 100px;
    /*margin: 10px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.center-column {
    width: 33%;
    height: 100px;
    /*margin: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    width: 33%;
    height: 100px;
    /*margin: 10px;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.home-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: comfortaa;
    src: url("TipoLetra/Comfortaa-Bold");
}
