/*--- Body aplica tipo de letra ---*/
@font-face {
    font-family: 'Comfortaa';
    src: url('ruta/a/Comfortaa-Bold.ttf') format('truetype');
  }
  
  body {
    font-family: 'Comfortaa', sans-serif;
  }

/*--- Fondo y configuración para los fieldset ---*/
.bg-fldst{
    background-color: rgb(69, 129, 142);
    padding: 5px;
    border-top: solid;
    border-color: white;
    border-radius: 10px; /* ajusta el valor para cambiar el radio de los bordes */
    border: 2px solid rgb(69, 129, 142);
}
.bg-fldstEst{
    border-top: solid;
    border-color: white;
    border-radius: 10px; /* ajusta el valor para cambiar el radio de los bordes */
    border: 2px solid rgb(69, 129, 142);
}
.legend {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px; /* opcional para dar más espacio al contenido */
    border: 2px solid rgb(69, 129, 142);
}

/*--- Formato para los campos del fieldset ---*/
.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.form-row label {
    flex-basis: 40%;
    text-align: left;
}
.form-row input {
    flex-basis: 35%;
}

.input-estiloDP {
  width: 20%;
  margin-bottom: 10px;
}
.columnaL {
    float: left;
    padding-left:60px;
    width: 45%;
    text-align: justify;
    color: aliceblue;
    padding-top:20px;
}

.columnaC {
    float: left;
    width: 45%;
    text-align: justify;
    color: aliceblue;
    padding-top:20px;
    padding-left:60px; /* Padding a la derecha */
}

.button-reg {
  display: flex;
  justify-content: center;
  align-items: center;
}
