 .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      background-color: #f2f2f2;
      position: relative; /* Agregado */
    }
    
    .progress-container {
      width: 800px;
      padding: 10px;
      background-color: grey;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: absolute; /* Agregado */
      z-index: 1; /* Agregado */
    }
    
    .progress-bar {
      margin-bottom: 10px;
      background-color: #f0f0f0;
      height: 20px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
    }
    
    .progress-bar-fill {
      display: block;
      height: 100%;
      background-color: #4CAF50;
      animation: progress-bar-animation 3s ease-in-out;
    }
    
    @keyframes progress-bar-animation {
      0% {
        width: 0%;
        left: 0;
      }
      100% {
        width: 100%;
        left: 0;
      }