.main-cont {
    padding-top: 5em;
    min-width: 91.3%;
    min-height: 600px;
  }
  
  .panel-izq {
    float: left;
  }
  
  .panel-izq label {
    margin-left: 20em;
  }
  
  .panel-der {
    float: right;
  }
  
  .panel-der input {
    margin-right: 30em;
  }
  
  .tb-th-asp .medium {
    margin-left: 65em;
  }
  button#cancelar {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  button#cancelar:hover {
    background-color: #e60000;
  }
  #cancelar{
    margin-left: 48em;
    margin-top: 5px;
  }
  #bgcolor{
    background-color: #3f6275;
  }
  #bgcolor label {
    color: white;
  }